*{
    margin: 0;
    padding: 0;
}
/* navbar */
#nav-btn{
    margin-left: 30%;
    padding-left: 8%;
    padding-right: 8%;
}
.nav-link{
    padding-left: 5%;
}
.nav-link:hover{
    background-color: rgba(0, 0, 0, 0.166);
}
/* hero  */
#hero{
    background-image: url(Photo/bg7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-top: 4%;
}
#hero-text{
    padding-top: 50px;
}
#hero-text h1{
    font-size: 70px;
    font-weight: 600;
}
#hero-filter{
    padding-top: 40px;
}
#hero-or p{
    color: rgba(255, 255, 255, 0.694);
}
#hero-or2 button{
    background-color: rgba(255, 255, 255, 0.313);
    color: black;
}
#hero-or2 button:hover{
    background-color: white;
    border: 1px solid rgba(255, 255, 255, 0.201);
}
/* premium brands  */
#pb-head a:hover{
    color: rgba(120, 120, 6, 0.999);
}
#pb-card{
    background-image: linear-gradient(to bottom right, orangered, yellow);
}
#pb-card:hover{
    box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.398);
}
/* why choose us */
#s i{
    font-size: 60px;
    padding: 10px;
    color: orangered;
}